@model PoVWebsite.Models.User
@{
    ViewBag.Title = "updatePassword";
    Layout = "~/Views/Shared/_UserControll_Layout.cshtml";
}

<h2>updatePassword</h2>
<br /><br />
<p>Password: @Model.password</p>
<p>Username: @Model.username</p>
<p>ID: @Model.id</p>
